<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CinemaTour!</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <header>Home</header>
    <container>
        <ul>
            {% for row in data %}
            <li>{{ movie[0] }}</li>
            {% endfor %}
        </ul>
    </container>
    <button><a href="/login">로그인</a></button>
    <footer></footer>



    <script href="{{ url_for('static', filename='js/script.css') }}"></script>
</body>
</html>