body {
    margin: 0;
    background-image: url('https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg');
    background-size: cover;
}
:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}


header {
    background-color: black;
    height: 50px;
}
#header_menu {
    display: flex;
    justify-content: space-between;
}
#header_menu>a {
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
}

container {
    display: flex;
    justify-content: center;
}
.movie_header {
    width: 80%;
}
.movie_header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #FFFFFF;
}
.movie_header img {
    margin-top: 20px;
    margin-right: 20px;
}

.sub_title {
    color: #FFFFFF;
    background-color: tomato;
    border-radius: 5px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.movie_info {
    display: flex;
    justify-content: space-evenly;

    width: 80%;
    color: #FFFFFF;
    background-color: tomato;
    font-size: 30px;
    border-radius: 5px;
    font-weight: 800;

    border: 10px solid #FFFFFF;
}



.movie_posters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    width: 80%;
    height: 300px;
    background: tomato;
    border: 10px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 30px;
}
.movie_poster button {
    width: 150px;
    height: 200px;
    border: none;
    padding: 0px;
    margin: 0px;
}
.movie_poster button:hover {
    cursor: pointer;
}
.movie_poster img {
    transition: 0.3s all;
}
.movie_poster img:hover {
    width: 198px;
    height: 275px;
}

.movie_times {
    margin-top: 50px;
    width: 80%;
    height: 50px;
    background: tomato;
    border: 10px solid #FFFFFF;
    border-radius: 10px;
}
.movie_time {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.movie_time button {
    border: none;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;

    width: 100px;
    height: 50px;
    font-size: 32px;
    background-color: #FFFFFF;
    
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}
.movie_time button:hover {
    color:#FFFFFF;
    background-color: tomato;
    border-color: tomato;
    cursor: pointer;
}


.seat_selectButton {
    width: 300px;
    height: 70px;
    border: none;

    margin-top: 50px;
    border-radius: 10px;
    color: black;
    font-size: 32px;
    font-weight: 800;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}
.seat_selectButton:hover {
    color:#FFFFFF;
    background-color: tomato;
    border-color: tomato;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 50px;
    margin-top: 100px;
    background-color: rgb(56, 56, 56);
}


.register {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.registerContainer {
    border-radius: 5px;
    border: 10px solid tomato;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}
h2 {
    text-align: center;
    margin: 0 0 20px;
}
.form {
    padding: 30px 50px 30px 30px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control lacel {
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus {
    outline: 0;
    border-color: #777;
}
/* .form-control.success input {
    border-color: var(--success-color);
}
.form-control.error input {
    border-color: var(--error-color);
} */
.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    cursor: pointer;
    background-color: tomato;
    border: 2px solid tomato;
    border: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: 107%;
    transition: 0.3s all;
}
.form button:hover {
    background-color: #FFFFFF;
    color: tomato;
}


.login {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.loginContainer {
    border-radius: 5px;
    border: 10px solid tomato;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}





.movie-container {
    margin: 20px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .container {
    perspective: 1000px;
    margin-bottom: 30px;
  }
  
  .seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seat.selected {
    background-color: #6feaf6;
  }
  
  .seat.occupied {
    background-color: #fff;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
  }
  
  .screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  p.text {
    margin: 5px 0;
  }
  
  p.text span {
    color: #6feaf6;
  }
  